extends ./layout/page

block title
    title= pageTitle
block content
    #{data}
    section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.relative
      .mdl-card.mdl-cell.mdl-cell--12-col
        .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
          h4.mdl-cell.mdl-cell--12-col= pageName
          .section__text.mdl-cell= pageContent
        .mdl-card__actions= created
      button#btn2.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
        i.material-icons more_vert
      ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for='btn2')
        li.mdl-menu__item Lorem
        li.mdl-menu__item(disabled='') Ipsum
        li.mdl-menu__item Dolor